<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>

<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <div>
        <input id="chat-message-submit" type="button" value="Send"/>
        <input id="chat-disconnect" type="button" value="Disconnect"/>
    </div>
</body>

<script>
    var roomName = {{ room_name_json }};
    var user_id = {{ user_id }};
    var disconnect_message = "상대방과의 연결이 종료되었습니다.";

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var cur_user_id = data['user_id'];
        var chat_log = document.querySelector('#chat-log');
        
        if(cur_user_id == -1) {
            chatSocket.close();
            chat_log.value += disconnect_message;
        }
        else {
            var name_tag = "unknown";
            if(user_id == cur_user_id)
                name_tag = "Me";
            else
                name_tag = "Stranger";
        
            chat_log.value += ('['+ name_tag +']\t' + message + '\n');
        }        
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'user_id': user_id,
        }));

        messageInputDom.value = '';
    };

    document.querySelector('#chat-disconnect').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-log');
        chatSocket.send(JSON.stringify({
            'message': disconnect_message,
            'user_id': -1,
        }))
    };
</script>

</html>